@using CollegeManagementSystem.Models
@model IEnumerable<CollegeManagementSystem.Areas.Staff.Models.StaffTask>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_StaffLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Staff Page </h1>
    <partial name="_StaffLoginPartial" />
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskCode)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                    @EnumHelper.GetDisplayName(item.TaskLocation)
            </td>
            <td>
                    @EnumHelper.GetDisplayName(item.TaskStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
